/* Reset */
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Main Styling*/
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
    line-height:1.7em;
}

a {
    color: blue;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
    color: darkorchid;

}


p{
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: darkorchid;
}



.btn{
    display: inline-block;
    font-size: 18px;
    color: white;
    background: black;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}




