<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Document</title>

   <link rel ="stylesheet" href="" th:href="@{/}">
    <style>
        h1{
            font-color:red;
            padding: 50px;
        }
    </style>

</head>
<body>

    <section>
        <h1 >WELCOME TO YOUR LOCAL HOSPITAL</h1>
        <p> This community Welcomes all the residents for state of the art medical needs</p>

    </section>




</body>
</html>