<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Our Services</title>

</head>
<body>


<section style="background-color: aquamarine">
    <!--class="banner d-flex justify-content-center-->
    <div class="text-center mt-100">
        <h2 class="font-weight-bold justify-content-center">OUR SERVICES</h2>
        <br>
    </div>
    <div> <h4>Our services help with quality of life</h4>
        <p>At Patient Health System, we offer the right care, when and where you need it.
            Options include seeing a primary care provider in one of our clinics,
            via a virtual visit, or for people with certain conditions, at home. (These are sample text examples only)</p>
    </div>
    <div> <h4>Wellness</h4>
        <p>Your primary care provider is your partner in your health – and not
            just when you’re sick. From prevention to goal-setting and education, having a long-term relationship with your
            physician is one of the most important things you can do for your health. Our services include annual wellness checkups,
            women’s health services, weight management,
            vaccinations, and smoking cessation programs, among other resources. (These are sample text examples only)</p>
    </div>
    <div> <h4>Chronic Care Management</h4>
        <p> If you're living with a chronic condition, consistent and personalized care is essential. We can help manage a
            broad range of long-term diseases such as diabetes, kidney disease, hypertension, COPD (chronic obstructive pulmonary disease),
            and endocrine disorders.

            At Patient Health System, we take a comprehensive approach, using education and lifestyle changes in conjunction with medications and
            other therapies – and ensure seamless information-sharing between clinical staff, doctors and providers,

            and care managers – to help our patients live their healthiest lives. (These are sample text examples only)</p>
    </div>



</section>

</body>
</html>